<html lang="es">

  {{ include('cabecera.html.twig') }}

    <body class="container grid-lg print">
    <header class="navbar mt-2">
      <section class="navbar-section">
      </section>
      <section class="navbar-center">
        <a href="" class="navbar-brand mr-2"><i class="icon icon-2x icon-emoji"></i></a>
        <a href="" class="navbar-brand mr-2">Eventos</a>
      </section>
      <section class="navbar-section">
      </section>
    </header>
    <br>

    <div class="columns">
      <article class="column col-12">
        <div class="columns">

          <!--Descripción-->
          <div class="column col-8">
            <h2>Título Evento</h2>
            <div class="metadata">
              <p>Organizador</p>
              <p>Fecha</p>
            </div>
            <br>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>

          <!--Imágenes-->
          <div class="column col-4">
            <figure class="figure event-img">
              <img src="assets/img/jungle.jpeg" alt="Jungle" class="img-responsive ">
              <figcaption class="figure-caption text-center">Foto 1</figcaption>
            </figure>
            <figure class="figure event-img">
              <img src="assets/img/jungle2.jpg" alt="Jungle" class="img-responsive ">
              <figcaption class="figure-caption text-center">Foto 2</figcaption>
            </figure>
            <figure class="figure event-img">
              <img src="assets/img/jungle3.jpg" alt="Jungle" class="img-responsive ">
              <figcaption class="figure-caption text-center">Foto 3</figcaption>
            </figure>
          </div>
        </div>

        <!--Descripción-->
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <p>Puedes consultar más en: <a href="http://junglejunglejungle.com/">junglejunglejungle.com</a></p>

      </article>
    </div>

    <footer class="mt-2">
      <p>© José María Martín Luque</p>
    </footer>
  </body>
</html>